.sidebarChild {
  width: 289px;
  height: 922px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.profileSettings {
  height: 24px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.profileSettingsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 var(--padding-2xs);
}
.myProperties {
  width: 186px;
  flex-shrink: 0;
}
.myProperties,
.pastSearches {
  text-decoration: none;
  height: 24px;
  position: relative;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.pastSearchesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 var(--padding-4xl);
}
.previouslyViewed {
  align-self: stretch;
  flex-shrink: 0;
}
.previouslyViewed,
.saved {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.savedWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-39xl) 0 var(--padding-47xl);
}
.contacted {
  height: 24px;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sidebarItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-16xl) 0 var(--padding-24xl);
  color: var(--color-slateblue);
}
.notifications {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sidebarItems1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg);
}
.logOut {
  height: 31px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sidebar,
.sidebarItems2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-30xl) 0 var(--padding-38xl);
}
.sidebar {
  height: 922px;
  width: 289px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-37xl) var(--padding-30xl);
  gap: var(--gap-52xl);
  min-width: 289px;
}
.image6Icon {
  height: 448px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image6Wrapper {
  width: 484px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
}
.youHaventContacted {
  position: relative;
  font-weight: 600;
}
.youHaventContactedAnyoneLWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl);
}
.youWillSee {
  margin: 0;
  align-self: stretch;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeButtonChild {
  height: 40px;
  width: 107px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xs);
  background: linear-gradient(90deg, #2697e0, #5170d2 52%, #784dc6);
  display: none;
}
.home1,
.tablerhomeIcon {
  position: relative;
  z-index: 1;
}
.tablerhomeIcon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home1 {
  font-weight: 600;
}
.homeButton,
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.homeButton {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xs);
  background: linear-gradient(90deg, #2697e0, #5170d2 52%, #784dc6);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-smi);
  gap: var(--gap-2xs);
}
.home,
.homeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.home {
  width: 107px;
  justify-content: flex-start;
  cursor: pointer;
}
.homeWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  font-size: var(--font-size-xs);
  color: var(--color-snow);
}
.contactImage,
.frameParent,
.sidebarParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
}
.contactImage,
.sidebarParent {
  box-sizing: border-box;
}
.contactImage {
  width: 518px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-71xl) 0 0;
  min-width: 518px;
}
.sidebarParent {
  width: 1104px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.userPreviouslyContacted0 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .contactImage,
  .sidebar {
    flex: 1;
    box-sizing: border-box;
  }
  .sidebar {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
  }
  .contactImage {
    padding-top: var(--padding-39xl);
  }
  .sidebarParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .youHaventContactedAnyoneLWrapper {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-6xl);
  }
  .contactImage {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .contacted,
  .logOut,
  .myProperties,
  .notifications,
  .pastSearches,
  .previouslyViewed,
  .profileSettings,
  .saved {
    font-size: var(--font-size-base);
  }
  .sidebar {
    gap: var(--gap-16xl);
    padding: var(--padding-4xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .youHaventContacted,
  .youWillSee {
    font-size: var(--font-size-base);
  }
  .contactImage {
    padding-top: var(--padding-19xl);
    box-sizing: border-box;
  }
}
