.logo {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(125.33deg, #2697e0, #784dc6);
  width: 100%;
  height: 100%;
}
.cameraIcon {
  position: absolute;
  top: 142px;
  left: 153px;
  width: 29px;
  height: 29px;
  overflow: hidden;
  z-index: 1;
}
.picture {
  height: 190px;
  flex: 1;
  position: relative;
}
.profilePicture {
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.editButtonChild {
  height: 33px;
  width: 85px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
}
.edit {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.materialSymbolseditIcon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
  z-index: 1;
}
.editButton {
  cursor: pointer;
  border: 1px solid var(--color-gray-500);
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-8xs)
    var(--padding-base);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-10xs);
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.editButton:hover {
  background-color: #e6e6e6;
  border: 1px solid rgba(51, 51, 51, 0.5);
  box-sizing: border-box;
}
.editButton,
.editProfile,
.profileHeader {
  display: flex;
  align-items: flex-start;
}
.editProfile {
  width: 85px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 78px 0 0;
  box-sizing: border-box;
}
.profileHeader {
  width: 509px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.firstName {
  position: relative;
}
.frameChild {
  border: 1px solid var(--color-gray-500);
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 53px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  box-sizing: border-box;
  min-width: 145px;
}
.frameChild,
.phoneNumber {
  position: relative;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.firstNameInput {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 157px;
}
.firstNameInput,
.firstNameRow,
.lastNameRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lastNameRow {
  border: 0;
  background-color: transparent;
  height: 84px;
  width: auto;
  outline: 0;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  min-width: 159px;
}
.firstNameRow {
  align-self: stretch;
  flex-direction: row;
  gap: 28px;
}
.phoneNumberRowChild {
  height: 53px;
  width: 380px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.xxxxxXxxxx {
  width: 149px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 24px;
  position: relative;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.firstNameRowParent,
.phoneNumberRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.phoneNumberRow {
  width: 380px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-base) 12px;
}
.firstNameRowParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.emailInputChild,
.mail {
  position: relative;
}
.emailInputChild {
  height: 53px;
  width: 380px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.abcdegmailcom {
  width: 189px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 24px;
  position: relative;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 1;
}
.emailInput,
.emailRow {
  justify-content: flex-start;
}
.emailInput {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-mini) var(--padding-mid) var(--padding-3xs);
  max-width: 100%;
}
.emailRow {
  width: 380px;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.emailRow,
.info,
.profileInfo {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.info {
  width: 515px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.profileInfo {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.profile,
.profileWrapper {
  flex-direction: column;
  max-width: 100%;
  flex-shrink: 0;
}
.profile {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-54xl);
  debug_commit: 69da668;
}
.profileWrapper {
  width: 559px;
  padding: 63px 0 0;
  box-sizing: border-box;
  min-width: 559px;
}
.profileWrapper,
.sidebarContainer,
.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebarContainer {
  width: 1389px;
  flex-direction: row;
  padding: 0 415px;
  box-sizing: border-box;
  gap: 127px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.userProfile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .profileWrapper {
    flex: 1;
    min-width: 100%;
  }
  .sidebarContainer {
    flex-wrap: wrap;
    gap: 63px;
    justify-content: center;
    padding-left: var(--padding-188xl);
    padding-right: var(--padding-188xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .profileWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .firstNameRow {
    flex-wrap: wrap;
  }
  .profile {
    gap: var(--gap-17xl);
  }
  .profileWrapper {
    padding-top: var(--padding-22xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .sidebarContainer {
    gap: 32px;
    padding-left: var(--padding-84xl);
    padding-right: var(--padding-84xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .profileHeader {
    flex-wrap: wrap;
  }
  .abcdegmailcom,
  .firstName,
  .mail,
  .phoneNumber,
  .xxxxxXxxxx {
    font-size: var(--font-size-base);
  }
  .profile {
    gap: var(--gap-lg);
  }
  .profileWrapper {
    min-width: 100%;
  }
  .sidebarContainer {
    gap: 16px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
