.contactForm {
  height: 49px;
  position: relative;
  display: flex;
  align-items: center;
}
.contactFormChild {
  height: 180px;
  width: 550px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.writeYourMessage {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.contactForm1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-lgi);
  box-sizing: border-box;
  min-width: 269px;
  min-height: 180px;
  max-width: 100%;
}
.email {
  height: 37px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.emailFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.phone {
  height: 37px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.emailContainer {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.contactFormParent,
.emailContainer,
.emailPhoneContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailPhoneContainer {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  font-size: var(--font-size-11xl);
}
.contactFormParent {
  width: 730px;
  flex-direction: row;
  gap: var(--gap-62xl);
  min-width: 730px;
  max-width: 100%;
}
.brokerInfo,
.brokergmailcom {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
}
.brokerInfo {
  height: 37px;
  display: flex;
  align-items: center;
}
.brokerInfoContainer {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.brokerContainer,
.brokerInfoContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
}
.brokerContainer {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 296px;
  font-size: var(--font-size-11xl);
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.phoneNumberChild {
  height: 50px;
  width: 250px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  display: none;
}
.phoneNumber1 {
  height: 30px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  z-index: 1;
}
.emailChild,
.phoneNumber {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
}
.phoneNumber {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
  box-sizing: border-box;
  min-width: 162px;
  white-space: nowrap;
}
.emailChild {
  height: 50px;
  width: 250px;
  position: relative;
  display: none;
}
.emailAddress {
  height: 30px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  z-index: 1;
}
.contactDetailsLabels,
.email1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.email1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  padding: var(--padding-3xs) var(--padding-lgi);
  box-sizing: border-box;
  min-width: 162px;
  white-space: nowrap;
}
.contactDetailsLabels {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-31xl);
}
.submitBtnChild {
  height: 44px;
  width: 195px;
  position: relative;
  border-radius: var(--br-24xl);
  background: linear-gradient(90deg, #2697e0, #784dc6);
  display: none;
}
.submit {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.submitBtn,
.submitButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.submitBtn {
  border-radius: var(--br-24xl);
  background: linear-gradient(90deg, #2697e0, #784dc6);
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.submitButtonContainer {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.contactDetailsContainer,
.contactFormContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.contactDetailsContainer {
  width: 550px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.contactFormContainer {
  align-self: stretch;
  gap: var(--gap-9xl);
  font-size: var(--font-size-6xl);
}
.contactContent,
.contactContentWrapper,
.contactFormContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contactContent {
  width: 1165px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.contactContentWrapper {
  width: 1409px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .brokerContainer,
  .contactFormParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .contactForm {
    font-size: var(--font-size-13xl);
  }
  .email,
  .phone {
    font-size: var(--font-size-5xl);
  }
  .contactFormParent {
    min-width: 100%;
  }
  .brokerInfo,
  .brokergmailcom {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .contactForm1 {
    min-height: auto;
  }
  .contactFormParent {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }
  .contactDetailsLabels {
    gap: var(--gap-6xl);
  }
  .contactDetailsContainer {
    gap: var(--gap-mid);
  }
  .contactContent {
    gap: var(--gap-2xl);
  }
  .contactContentWrapper {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactForm {
    font-size: var(--font-size-5xl);
  }
  .writeYourMessage {
    font-size: var(--font-size-xl);
  }
  .email,
  .phone {
    font-size: var(--font-size-lg);
  }
  .contactFormParent {
    gap: var(--gap-xl);
  }
  .brokerInfo,
  .brokergmailcom {
    font-size: var(--font-size-lg);
  }
  .submit {
    font-size: var(--font-size-base);
  }
}
