.propertyCardChild {
  width: 295px;
  height: 288px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.image4Icon {
  width: 275px;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xs);
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.villaWithSpacious {
  align-self: stretch;
  height: 46.2px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
  debug_commit: 69da668;
}
.mapPinIcon,
.pune,
.villaWithSpacious {
  position: relative;
  z-index: 1;
}
.mapPinIcon {
  height: 33.7px;
  width: 32.1px;
  object-fit: cover;
}
.pune {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
}
.mapPinParent,
.puneWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.puneWrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -0.1px;
}
.mapPinParent {
  flex-direction: row;
}
.rsXCrores,
.xxAcres {
  position: relative;
  font-weight: 300;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.frameWrapper,
.xxAcresParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.xxAcresParent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs-7);
  font-size: var(--font-size-sm);
}
.frameGroup {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: 69da668;
  gap: var(--gap-xl);
}
.villaWithSpaciousAndLargeParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs-8);
}
.propertyCard {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  flex-direction: column;
  padding: var(--padding-5xs) 0 var(--padding-8xs-3) var(--padding-4xs);
  gap: var(--gap-sm);
}
.frameParent,
.propertyCard,
.propertyCardWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.propertyCardWrapper {
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.frameParent {
  height: 968px;
  flex-direction: column;
  gap: var(--gap-33xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .pune,
  .villaWithSpacious {
    font-size: var(--font-size-base);
  }
  .frameParent {
    gap: var(--gap-7xl);
  }
}
