.sortAndFilterChild {
  width: 289px;
  height: 922px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
}
.location,
.sortBy {
  position: relative;
  text-align: left;
  z-index: 1;
}
.area,
.location,
.sortBy {
  text-decoration: none;
  color: inherit;
}
.amenities,
.area,
.facilities,
.numberOfBedrooms,
.priceRange,
.propertyType {
  position: relative;
  z-index: 1;
}
.sortAndFilter {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-37xl) var(--padding-15xl);
  gap: var(--gap-59xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1125px) {
  .sortAndFilter {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .amenities,
  .area,
  .facilities,
  .location,
  .numberOfBedrooms,
  .priceRange,
  .propertyType,
  .sortBy {
    font-size: var(--font-size-base);
  }
  .sortAndFilter {
    gap: var(--gap-20xl);
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
